@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

body {
  margin: 0;
}

.p-column-filter .p-fluid .p-inputtext {
  min-width: 5em;
}

.p-accordion .p-accordion-content {
  padding: 0rem;
}
